{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script>
$().ready(function() {
  console.log('>>> in ready');
  setup();
});

function setup() {
  var elementSymbol = "{{ page.element.symbol }}";
  var componentsUrl = '/data/element/' + elementSymbol + '/components';
  $.get(componentsUrl, function(data) {
    var content = data.docs.join(', ') || 'none';
    $('#phone-use').html(content);
  });
}
</script>
{% endblock %}

{% block style %}
{% parent %}
<style>
.element-image img {
  width: 100%;
}
#phone-use {
  margin-top: 12px;
}
</style>
{% endblock %}

{% block content %}
<div class="body-container container">

    <div class="row">
        <div class="col-md-10">
            <h4>Element Detail</h4>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-md-4">
            <div>Symbol: {{ page.element.symbol }}</div>
            <br/>
            <div>Name: {{ page.element.name }}</div>
            <br/>
            <div>Wikipedia: <a href="{{ page.element.wiki }}">link</a></div>
            <br/>
            <div>
              Where it is used in celll phone:
              <div id="phone-use"></div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="element-image"><img src="{{ page.element.image }}" alt="{{ page.element.name }}" /></div>
        </div>
    </div>

</div>
{% endblock %}
