{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script>
var selectedElements = {};
var targetComponent = "{{ page.component }}";

$().ready(function() {
  console.log('>>> in ready');
  setup();
});

function setup() {
  $('.element-block').on('click', function(element) {
    var elementClicked = element.currentTarget.id;
    console.log('clicked on', elementClicked);
    if (selectedElements[elementClicked]) {
      selectedElements[elementClicked] = false;
      $('#' + elementClicked).removeClass('active');
    } else {
      selectedElements[elementClicked] = true;
      $('#' + elementClicked).addClass('active');
    }
  });
  $('#rateButton').on('click', function() {
    console.log('>>> check result');
    var selectedBlocks = $('.element-block-container .element-block.active');
    var selectedElements = [];
    for (var i = 0; i < selectedBlocks.length; i++) {
      selectedElements.push(selectedBlocks[i].id);
    }
    console.log('>>> selectedElements:', selectedElements);
    var checkGameUrl = '/data/element/game/check';
    $.post(checkGameUrl, { component:targetComponent, elements:selectedElements }, function(data) {
      console.log('check result:', data);
    });
  })
}
</script>
{% endblock %}

{% block style %}
{% parent %}
<style>
.element-block {
  background-color: #f2f2f2;
  text-align: center;
  padding: 40px;
  width: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  font-size: 1.2em;
}
.element-block:hover {
  color: red;
  cursor: pointer;
}
.element-block.active {
  background-color: #c2c2c2;
}
</style>
{% endblock %}

{% block content %}
<div class="body-container container">

    <div class="row">
        <div class="col-md-10">
            <h4>Shopping elements for iPhone part</h4>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-md-6">
            <h4>You are in a rare earth element supply store, select elements needed for:</h4>
            <h1>{{ page.component }}</h1>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-md-10 element-block-container">
            {% for element in page.elements %}
            <div class="element-block" id="{{ element.symbol }}">
                {{ element.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-md-10">
            <button class="btn btn-large btn-info" id="rateButton">Check Result</button>
        </div>
        <div class="col-md-10">
            <div id="result"></div>
        </div>
    </div>
</div>
{% endblock %}
