{% extends '../layout/layout.html' %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <div class="col-md-12">
            <h4>Information and learning about rare earth elements</h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>API</h4>
            <br/>
            <ul>
                <li><a href="/data/element/Pr">element info (Pr)</a></li>
                <li><a href="/data/component/Color%20Screen">component info (Color Screen)</a></li>
                <li><a href="/data/element/Pr/components"></a>components containing element (Pr)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
