{% extends '../layout/layout.html' %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <div class="col-md-12" style="margin-top:40px;">
            <h2>Rare Earth Elements in Cell Phone</h2>
        </div>
        <div class="col-md-12" style="margin-top:40px;">
            <h4>Learn Rare Earth Elements</h4>
            <ul>
              <li>
                <a href="/element/Pr"></a>
              </li>
            </ul>
        </div>
        <div class="col-md-12" style="margin-top:40px;">
            <h4>Play Rare Earth Game</h4>
            <div>
              <a href="">Shopping for iPhone</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
