{% extends '../layout/layout.html' %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <div class="col-md-12" style="margin-top:30px;">
            <h2>Rare Earth Elements in Cell Phone</h2>
        </div>
        <div class="col-md-12" style="margin-top:30px;">
            <h4>Learn More</h4>
            <div>
              <a href="/element">Rare Earth Elements in cell phone</a>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:30px;">
            <h4>Play Game</h4>
            <div>
              <a href="">Shopping parts for cell phone</a>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:30px;">
            <h4>Reference</h4>
            <div>
              <a href="http://www.coolinfographics.com/blog/2013/2/4/the-periodic-table-of-iphones.html">
                The Periodic Table of iPhoness
              </a>
            </div>
            <div>
              <a href="https://en.wikipedia.org/wiki/Rare_earth_element">
                Rare Earth Elements on wikipedia
              </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
