{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script src="/script/web/common-bundle.js"></script>
<script src="/script/web/webpack-bundle.js"></script>
<script src="/script/web/webpack2-bundle.js"></script>
{% endblock %}

{% block style %}
{% parent %}
<style></style>
{% endblock %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="test-title">Webpack Testground</h4>
            <br/>
            <p>
                Command: bin/dowebpack or webpack -w 
            </p>
            <p>
                Use webpack-dev-server: webpack-dev-server --inline --host --host localhost
            </p>
        </div>  
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <h4>Test Output</h4>
            <div class="content1"></div>
        </div>  
    </div>
</div>
{% endblock %}
